
<div class="home-callout container-fluid">
  <div class="container main-message">
    <div class="row">
      <div class="col-10 col-md-10 col-sm-10">
        <h1 class="Poluchayte text-center">ПОЛУЧАЙТЕ ОПЛАТУ НАПРЯМУЮ ОТ КЛИЕНТОВ</h1>
        <%= link_to " Подать заявку", new_contact_path, :class => "btn btn-default btn-block fa fa-check-circle" %>
      </div>  
    </div>
  </div>
</div>
<div class="home-message container-fluid well">
  <h3 class="container">
    Если вы – небольшая компания, консультант или специалист, то вопрос получения оплаты критичен. С Finserv вы можете получать от Ваших клиентов по всему миру быстро, безопасно и недорого. 
  </h3>
</div>
<div class="how-works1 container-fluid">
  <h1 class="text-center kak-eto">КАК ЭТО РАБОТАЕТ?</h1>
    <div class="container">  
      <div class="row">
        <div class="col-6 col-md-4"><h4 class="text-center"><%= image_tag("register-logo.png", :alt => "register-logo") %><br><br>Зарегистрируйтесь</h4><p>Подписание договора и интеграция с
вашим сайтом занимает не много времени</p></div>
        <div class="col-6 col-md-4"><h4 class="text-center"><%= image_tag("getpaid-logo.png", :alt => "get-paid-logo") %><br><br>Получайте денги от клиентов</h4><p>Множество доступных способов оплаты от Ваших клиентов</p></div>
        <div class="col-6 col-md-4"><h4 class="text-center"><%= image_tag("withdraw-money.png", :alt => "withdraw-money-logo") %><br><br>Выводите средства</h4><p>Вывод средств производится автоматический на Ваш банковский счет</p></div>
      </div>
    </div>
</div>
<div class="how-works2 container-fluid">
  <h3 class="container">Подключившись к системе, вы сможете принимать платежи на своем сайте с помощью популярных средств.</h3>
    <div class="container">
      <div class="row logos text-center">
       <div class="col-3 col-md-3"><%= image_tag("yandex-dengi.png", :alt => "payment log") %></div>
        <div class="col-3 col-md-3"><%= image_tag("qiwi-logo.png", :alt => "payment log") %></div>
        <div class="col-3 col-md-3"><%= image_tag("webmoney-logo.png", :alt => "payment log") %></div>
        <div class="col-3 col-md-3"><%= image_tag("master-visa.png", :alt => "payment log") %></div>
      </div>
    </div>
</div>
   <div class="container-fluid footer">
      <div class="container">
        <hr>
        <div class="row">
             <div class="col-4 col-md-4 col-sm-4">
               <ul class="footer-col1">
                <li><a href="/Юридические"><h4>Юридические соглашение</h4></a></li>
                <li><a href="/Конфеденциальность">Конфеденциальность</a></li>
                <li><a href="/Интеллектуальная">Интеллектуальная собственность</a></li>
               </ul>
             </div>
              <div class="col-4 col-md-4 col-sm-4">
                 <ul class="footer-col2">
                  <li><a href="/Помощь"><h4>Помощь</h4></a></li>
                  <li><a href="/Связь">Связь с нами</a></li>
                  <li><a href="/Комиссии">Комиссии</a></li>
                  <li><a href="/Жалобы">Жалобы</a></li>
                 </ul>
              </div>
              <div class="col-4 col-md-4 col-sm-4 copyright-icon">
                <i class="far fa-copyright"> 2018 Payserv LLC., All Rights Reserved</i>
              </div>
          </div>
        </div>
     </div>

